body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fffced;
}
p {
    font-family: 'Open-Sans', sans-serif;
}
.anhcauchuỵen {
    position: relative; 
    height: 10cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anhcauchuỵen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; 
}

.anhcauchuỵen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/cauc-muah/Stories.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
}
.anhcauchuỵen h1 { 
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
}

.phan2cc {
    margin: 50px 0;
}

.noidung_phan2cc {
    margin: 0 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noidung {
    width: 31%;
    height: auto;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1000px){
   .noidung{
        width: 45%;
   } 
   .anhcauchuỵen{
    height: 13cm;
}
}
@media screen and (max-width: 700px){
    .noidung{
        width: 48%;
   } 
   .noidung_phan2cc{
    margin: 0 20px;
   }
   .phan2cc {
    margin: 17px 0;
   }
    .anhcauchuỵen{
        height: 15cm;
    }
}

.anhnoidung2_phan2cc img {
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
}

.dongdanvecc a {
    text-decoration: none;
    font-size: 18px;
    color: #4e358a;
    display: block;
    margin-bottom: 8px;
}

.tennd {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.5rem;
    font-size: 1.75rem;
    color: #4e358a;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.tennd a {
    text-decoration: none;
    color: #4e358a;
    font-size: 90%;
    font-weight: 600;
}

.noidungtruycap {
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 1.5;
}

.dongchu_cc {
    margin-top: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.dongchu_cc p {
    width: 100%;
    margin-bottom: 16px;
    font-size: 100%;
    line-height: 25px;
    font-weight: 100;
}

.dongkhampha_cc {
    margin-top: 30px;
    width: 100px;
    height: 50px;
}

.dongkhampha_cc a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    display: block;
    margin: 0;
    color: #4e358a;
}

.dongkhampha_cc hr {
    width: 50%;
    height: 2px;
    background-color: #4e358a;
    margin-left: 0;
    transition: width 0.4s ease;
}

.dongkhampha_cc:hover > hr {
    width: 100%;
}
