@font-face {
    font-family: 'Josefin Sans';
    src: url('/font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open-Sans';
    src: url('/font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}