body{
    background-color: #fffced;
}
main{
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #18212a;
    margin: 40px 80px;
    background-color: #fffced;
    transition: all .4s ease;
}
h1 {
    font-family: Josefin Sans,sans-serif;
    font-size: 2rem;
    color: #4e358a;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.75rem;
}
h2{
    font-family: Josefin Sans,sans-serif;
    font-size: 2rem;
    color: #4e358a;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.5rem;
}
h3{
    margin-top: 15px;
    font-family: Josefin Sans,sans-serif;
    font-size: 1.5rem;
    color: #4e358a;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
a{
    text-decoration: none;
    color: #337ab7;
}

@media screen and (max-width: 700px) {
    main {
        margin: 0 40px 20px 40px; 
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.9rem;
    }
}

.duongdan{
    height: 50px;
    background-color: #4e358a;
}

.duongdan .link-container {
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: Josefin Sans;
    height: 50px;
    padding-left: 80px;
    display: flex;
    align-items: center;
}
.duongdan .link-container i{
    padding: 0 10px;
}
.duongdan .link-container a{
    color: #fff;
    font-weight: 600;
    font-size: 0.9rem;
    font-family: Josefin Sans;
}
.duongdan .link-container a:hover{
    text-decoration: underline #fff 1px solid;
}
@media screen and (max-width: 700px) {
    .duongdan .link-container {
        padding-left: 20px;
    }
}
/*dac-den-dang*/

.dac-den-dang{
    display: flex;
    justify-content: space-between;
}
.slideshow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dot-container{
    margin-top: 7px;
}
   /* Slideshow container */
.slideshow-container {
    width: 100%;
    height: auto;
    position: relative;
    margin: 0;
  }
.mySlides{
    width: 100%;
    height: 100%;
}
.mySlides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 8px 8px 0;
  }
  
  .next {
    right: 0;
    border-radius: 8px 0 0 8px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .dot {
    cursor: pointer;
    height: 3px;
    width: 20px;
    margin: 0 3px;
    background-color: #e2e2e2;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #4e358a;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 0.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
.info{
    width: 55%;
    padding-left: 40px;
}

.product_price{
    font-family: Josefin Sans,sans-serif;
    font-size: 1.5rem;
    color: #4e358a;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.75rem;
}
.cart{
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.cart_quantity{
    display: flex;
    align-items: center;
}
.cart_quantity input{
    color: #4e358a;
    font-size: 1.25rem;
    background-color: transparent;
    border: 1px solid rgba(105, 102, 102, 0.326);
    margin: 0;
}
.cart_quantity .quantity{
    height: 50px;
    width: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
}
.cart_quantity .button{
    display: flex;
    flex-direction: column;
}
.cart_quantity .button .myupbutton,
.cart_quantity .button .mydownbutton{
    height: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
}
.cart_quantity .button .myupbutton:hover,
.cart_quantity .button .mydownbutton:hover{
    background-color: #4e358a;
    color: #fff;
}

.cart-button{
    padding-left: 20px;
}
.cart-button button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    background-color: transparent;
    background-image: url(../images/button.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.cart-button button:hover{
    background-image: url(../images/button-focus.png);
    color: #f4dcbb;
}


@media screen and (max-width: 1000px) {
    .dac-den-dang{
        flex-direction: column;
    }
    .slideshow{
        margin-left: -40px;
        margin-right: -40px;
    }
    .prev, .next, .text {font-size: 30px}
    .info {
        width: 100%; 
        padding-left: 0;
        padding-top: 30px;
    }
  }

.information{
    margin: 50px 0;
}
.tab{
    display: flex;
}
.tab button{
    opacity: 0.4;
    height: 50px;
    width: calc(100% / 2 - 2%);
    text-align: left;
    margin-right: 2%;
    box-sizing: border-box;
    border: none;
    border-bottom: #4e358a solid 2px;
    background-color: transparent;
    transition: opacity .4s ease;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    cursor: pointer;
}
.tab button.active{
    opacity: 1;
}
.description-box {
    max-height: 500px; 
    overflow: hidden;
    transition: max-height 0.4s ease;
}
.description-box p{
    padding-top: 20px;
}
.description-box.hide {
    max-height: 0;
}
.product{
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-rows:  [border-top-start] 30px [border-left-start] auto [border-bottom-start] 30px;
    grid-template-columns: [border-left] 30px [product-swiper] calc(100% - 30px*2) [border-right] 30px;
    grid-template-areas: 
        "top top top"
        "left product right"
        "bottom bottom bottom";
    }
.border-top{
    background-image: url(../images/border-x.png);
    grid-area: top;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-left{
    background-image: url(../images/border-y.png);
    grid-area: left;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-right{
    background-image: url(../images/border-y.png);
    grid-area: right;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-bottom{
    background-image: url(../images/border-x.png);
    grid-area: bottom;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.product-swiper{
    background-color: transparent;
    grid-area: product;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 40px 0;
    color: #4e358a;
}
.swiper-container {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
}
.mod_redshop_product {
    width: 300px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.mod_redshop_products_title {
    position: relative;
    line-height: 2.75rem;
    margin: 20px;
}
.mod_redshop_products_image{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.mod_redshop_products_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.mod_redshop_products_desc > p{
    margin-bottom: 10px;
    text-align: left;
}

.mod_redshop_products_price {
    font-weight: bold;
    font-size: 2rem;
}

.swiper-pagination-bullet{
    background-color: #4e358a;
    position: relative;
    margin-top: 20px;
}
.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #4e358a;
    cursor: pointer;
}
.swiper-button-next {
    right: 30px;
}
.swiper-button-prev {
    left: 30px;
}

.pop-up-window{
    position: fixed;
    left: -100%; /* Initially set to -100% to hide the popup */
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #4e358a;
    z-index: 99999;
    transition: left .4s ease; 
    display: flex;
    justify-content: center;
}
.product-popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 30px;
    color: #fff;
}
.product-popup-content .mod_redshop_products_title{
    margin-left: 0;
}
.product-popup-content .mod_redshop_products_title > h3{
    text-align: left;
    color: #fff;
}
.popup-navigation {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.btn-wrap{
    /*border-bottom: #fff 3px solid;*/
    margin-top: 30px;
    width: 90px;
}
.btn-wrap a{
    color: #fff;   
    font-family: Josefin Sans,sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0;
}

.btn-wrap hr{
    width: 50%;
    margin-top: 15px;
    height: 2.5px;
    background-color: #fff;
    margin-left: 0;
    transition: 0.4s ease;
}
.btn-wrap:hover > hr{
    width: 100%;
}

@media screen and (max-width: 700px){
    .pop-up-window{
        width: 100%;
        padding: 0;
    }
    .mod_redshop_products_title{
        width: 250px;
    }
    .mod_redshop_products_image{
        width: 200px;
        height: 200px;
    }
    .swiper-button-next,
    .swiper-button-prev{
        top: 40%;
    }
    .swiper-button-next {
        right: 15px;
    }
    .swiper-button-prev {
        left: 15px;
    }
}

.buying-button{
    width: 100%;
    height: 55px;
    display: flex;
    position: sticky;
    bottom: 0;
    border: #fff 2px solid;
    z-index: 9999;
}
.buying-button.hide{
    display: none;
}
.buying-button button{
    width: 50%;
    border: #fff 1px solid;
    background-color: #4e358a;
    color: #fff;
    font-family: Josefin Sans;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
}


/* button */
.position-relative {
    position: relative;
    z-index: 2;
}

.position-fixed {
    position: fixed;
}
.position-fixed:hover {
    width: 78px;
}
.top-50 {
    top: 50%;
  }
.start-100 {
    left: 100%;
    transform: translateX(-100%);
  }

.translate-middle {
    transform: translate(-50%, -50%);
  }

.btn-tuan {
    background-color: #4d3f99;
    border-radius: 4px;
    box-shadow: none;
    border: none;
  }

  .outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60px;
    position: relative;
    display: inline-block;
    margin: 40px 8px;
  }

.inner {
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
  }

.btn-tuan:hover{
    box-shadow: 0 0 35px 2px rgba(0,0,0,0.24);
    opacity: 1;
}
.inner {
    font-size: 13px;
    position: absolute;
    top: 40%;
    left: 20%;
    align-items: center;
    color: #fff;
    padding: 12px 14px 12px 12px;
}
  
.rotate {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  }
/*  */