* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

main {
    height: 1000px;
    background-color: aqua;
}

footer {
    height: 50px;
}

header {
    position: sticky;
    top: 0;
    background-color: #fffced;
    box-shadow: 4px 4px #88888839;
    display: block;
}

.header-wrap {
    width: 80%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    padding: 10px 0;
    margin: 0px auto;
}

.row {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 80px;
    overflow: hidden;
    transition: max-height 0.4s ease;
}

.row.hide {
    max-height: 0;
    overflow: hidden;
}

#top-nav{
    height: 60px;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
}
.logo{
    height: 100%;
    padding: 6px 0;
}
.logo img {
    height: 100%;
}

.chucnang {
    display: flex;
    align-items: center;
    height: 40px;
}

.chucnang a, .chucnang span {
    padding-left: 15px;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #4e358a;
}

.chucnang a img {
    height: 24px;
}

#thanh-tim-kiem {
    display: block;
    width: 100%;
    margin: auto 0;
    transition: all 0.4s ease;
}

.timkiem {
    height: 80%;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4e358a;
}

.timkiem input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 96%;
    padding: 10px;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.timkiem span {
    width: 5%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

.timkiem input:focus {
    outline: none;
}

.timkiem input::placeholder {
    color: white;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
}

#menu {
    transition: max-height 0.3s ease;
}

nav {
    padding: 20px 0 10px 0;
    width: 100%;
    overflow: visible;
}

nav ul {
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Josefin Sans;
    font-size: 1rem;
    font-weight: 700;
    color: #4e358a;
}

.pop-up-checkbox {
    display: none;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#menu-toggle + .menu-button-container {
    position: absolute;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button-container {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    flex-direction: column;
    align-items: center;
}

.menu-button {
    content: '';
    display: block;
    background-color: #4e358a;
    position: relative;
    height: 3.5px;
    width: 32px;
    margin: 4px 0;
}

.pop-up-header{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    transition: left .5s ease;
    padding: 10px 20px;
    background-color: #4e358a;
    background-image: url(./images/header/bg-img.png),url(./images/header/bg-img\(2\).png);
    background-position: calc(100% - 15px) calc(100% - 60px),100% calc(50% - 80px);
    background-size: 135px 262.5px, 187.5px 297px;
    background-repeat: no-repeat;
    overflow: hidden;
}
.pop-up-header button{
    background-color: transparent;
    border: none;
}
.pop-up-header .timkiem{
    border-bottom: #fff 1px solid;
}
.pop-up-header .timkiem input{
    padding: 15px 0;
}
.pop-up-header .timkiem input::placeholder{
    font-size: 1.25rem;
}
.pop-up-header button{
    background-color: transparent;
    border: none;
    height: 30px;
    cursor: pointer;
}
.pop-up-header button img{
    height: 100%;
    object-fit: cover;
}
.pop-up-header .button-nav {
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.pop-up-header ul{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.pop-up-header li{
    padding: 20px 0;
}
.pop-up-header li a{
    color: #fff;
    font-size: 1.5rem;
}

@media screen and (max-width: 1200px){
    header{
        height: auto;
    }
    .header-wrap {
        width: 100%;
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease;
        padding: 10px 15px;
    }
    #top-nav{
        height: auto;
    }
    .pop-up-checkbox{
        display: block;
        flex: 1;
        justify-content: flex-start;
    } 
    .logo {
        flex: 1; 
        text-align: center; 
    }
    .chucnang {
        flex: 1; 
        justify-content: flex-end; 
    }
    .header-wrap .timkiem-button{
        display: none;
    }
    #timkiem{
        display: none;
    }
    #menu{
        display: none;
    }
}