*{
    margin: 0;
}
main{
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #18212a;
    background-color: #fffced;
}

h2{
    text-transform: uppercase;
    font-size: 2rem;
    color: #4e358a;
    font-family: Josefin Sans,sans-serif;
}
p{
    font-size: 1rem;
    margin: 0;
}
a{
    text-decoration: none;
    color: black;
}
.banner {
    position: relative; 
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; 
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../images/lienhe/banner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
}
.banner h1 {
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    font-size: 2.5rem;
    z-index: 2;
    text-transform: uppercase;
}
.container{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form{
    display: grid;
    grid-template-rows:  [border-top-start] 30px [border-left-start] auto [border-bottom-start] 30px;
    grid-template-columns: [border-left] 30px [form] calc(100% - 30px*2) [border-right] 30px;
    grid-template-areas: 
        "top top top"
        "left form right"
        "bottom bottom bottom";
}
.border-top{
    background-image: url(../images/border-x.png);
    grid-area: top;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-left{
    background-image: url(../images/border-y.png);
    grid-area: left;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-right{
    background-image: url(../images/border-y.png);
    grid-area: right;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-bottom{
    background-image: url(../images/border-x.png);
    grid-area: bottom;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.form{
    background-color: transparent;
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    color: #4e358a;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.input-field{
    padding: 10px 0;
    width: 100%;
}
.input-field input{
    background-color: transparent;
    border: none;
    border-bottom: #4e358a 1.5px solid;
    height: 30px;
    width: 100%;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #18212a;
    cursor: pointer;
}
.input-field input::placeholder,
.input-field textarea::placeholder {
    color: #4e358a;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
}
.input-field textarea{
    background-color: transparent;
    border: none;
    border-bottom: #4e358a 1.5px solid;
    height: 80px;
    width: 100%;
    resize: none;
    display: flex;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #18212a;
    cursor: pointer;
}
input:focus,
textarea:focus{
    outline: none;
}
.summit-button{
    margin-top: 30px;
}
.summit-button button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    background-color: transparent;
    background-image: url(../images/button.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.summit-button button:hover{
    background-image: url(../images/button-focus.png);
    color: #f4dcbb;
}
.place{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.space, .bar{
    width: 48%;
}
.info-container{
    margin-top: 20px;
}
.space img, .bar img{
    width: 100%;
}
main .row{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.map-wrap{
    width: 100%;
    margin-top: 30px;
}
.button{
    width: max-content;
}
.open-button, .close-button{
    height: 30px;
    background-color: transparent;
    border: none;
    color: #4e358a;   
    font-family: Josefin Sans,sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.button hr{
    width: 20%;
    height: 3px;
    margin-top: 15px;
    background-color: #4e358a;
    margin-left: 0;
    transition: 0.4s ease;
}
.button:hover > hr{
    width: 100%;
}
.map {
    height: 500px;
    transition: height 0.4s ease;
}
.map iframe{
    border: #4e358a 2px solid;
    margin: 15px 0;
}
.map.hide{
    overflow: hidden;
    height: 0;
}

@media screen and (max-width: 1000px) {
    .container{
        margin: 30px 50px;
    }
    .contact-form{
        margin: 10px -50px;
    }
    .form{
        padding: 30px 5%;
    }
    .place{
        flex-direction: column;
        justify-content: center;
    }
    .space, .bar{
        width: 100%;
        padding: 20px 0;
    }
}