@font-face {
    font-family: 'Josefin Sans';
    src: url('./font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open-Sans';
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #fffced;
}
a{
    text-decoration: none;
    color: #4e358a;
}
p {
    font-family: 'Open-Sans', sans-serif;
}
.anhmuahang {
    position: relative; 
    height: 10cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anhmuahang::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; 
}

.anhmuahang::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/cauc-muah/4f0781ba0bd11bacc24e2673b27ac9aa_w1920_h1080.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
}
.anhmuahang h1 { 
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
}
/* --------- */
.phan2mh{
    margin: 50px 0;
}
.noidungtrong_phan2mh{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 80px;/*luu y tự mo */
}
.nd2_bentrong{
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;
}
.nd2_dongchu1 {
    text-transform: uppercase;
    font-weight: 700;
    height: 80px;
    font-size: 1.75rem;
    color: #4e358a;
}
.noidung2_tatca{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}
.noidung2_ndchinh{
    width: 30%; /*luu y 1000 45%*/
    height: auto;
    padding: 20px 1.5%;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 1000px){
    .noidung2_ndchinh{
        width: 45%;
    }
    .noidungtrong_phan2mh{
        margin: 40px 70px;
    }
    
}
@media screen and (max-width: 700px){
    .noidung2_ndchinh{
        width: 45%;
    }
    .noidungtrong_phan2mh{
        margin: 0 0 0 20px;
    }
    
}
.nd2_hinhanh img{
    width: 100%;
    margin-bottom: 20px;
    object-fit: cover;
   
}
.nd2_dongdan1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #4e358a;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    margin-bottom: 8px;
}
.nd2_dongchu{
    margin-top: 8px;
    margin-bottom: 1rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.nd2_dongchu p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.dongkhampha_cc{
    margin-top: 20px;
    align-items: center;
}
.dongkhampha_cc a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: #4e358a;
}
.dongkhampha_cc hr{
    width: 50%;
    height: 2px;
    background-color: #4e358a;
    transition: all 0.4s ease;
}
.dongkhampha_cc:hover > hr{
    width: 100%;
}
.summit-button{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.summit-button button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    background-color: transparent;
    background-image: url(/images/button.png);
    background-size: 99%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.summit-button button:hover{
    background-image: url(/images/button-focus.png);
    color: #fff;
}