*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{
    background-color: #fffced;
	font-family: Open-Sans;
    margin: 0;
}
main{
	line-height: 1.5;
}
a{
    text-decoration: none;
    color: #4e358a;
}
li{
    list-style-type: none;
}
section{
    background-color: #fffced;   
}
/* ===== main ==== */
.card-tuan{
    background-color: rgba(0,0,0,.5);
    padding: 20px;
    max-width: 400px;
    top: 50%;
    position: absolute;
    max-height: min-content;
}
.text-tuan{
    text-align: left;
    left: 20px;
    color: #fff;
}

.summit-button-tuan{
    margin-top: 30px;
}
.summit-button-tuan button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0,0,0,.5);
    /* background-image: url(../images/button.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.summit-button-tuan button:hover{
    background-image: url(../images/button.png);
    color: #4e358a;
}


.dongkhampha_cc-tuan{
    margin-top: 20px;
    align-items: center;
}
.dongkhampha_cc-tuan a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: #fff;
}
.dongkhampha_cc-tuan hr{
    display: block;
    width: 50%;
    height: 3px;
    background-color: #fff;
    margin: 10px auto 0;
    border-radius: 3px;
}

.map-wrap{
    width: 100%;
    margin-top: 30px;
}
.place{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
}
.space, .bar{
    width: 48%;
}
.info-container{
    margin-top: 20px;
}
.space img, .bar img{
    width: 100%;
}
.button{
    width: max-content;
}
.open-button, .close-button{
    height: 30px;
    background-color: transparent;
    border: none;
    color: #4e358a;   
    font-family: Josefin Sans,sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}
.button .hr-tuan{
    width: 20%;
    height: 3px;
    margin-top: 15px;
    background-color: #4e358a;
    margin-left: 0;
    transition: 0.4s ease;
}
.button:hover > .hr-tuan{
    width: 100%;
    background-color: #4e358a;

}
.map{
    height: 406px;
    transition: height 0.4s ease;
}
.map iframe{
    border: #4e358a 2px solid;
    margin: 15px 0;
}
.map.hide{
    overflow: hidden;
    height: 0;
}
/* .dongkhampha_cc-tuan:hover > hr{
    width: 100%;
    background-color: #fff;
} */

.frame {
    border: 10px solid black;
  padding: 35px;
  background: url(/images.tuan/tải\ xuống.png);
  background-repeat: no-repeat;
  background-origin: content-box;
}
.banner {
    position: relative; /* Make the container position relative */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; /* Place the pseudo-element above the image */
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images.tuan/Lacàph_Bar_10.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; /* Place the image below the pseudo-element */
}
.banner p, .banner h1 {
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
}
.banner p{
    font-weight: 400;
    font-size: 1rem;
}
.banner h1{
    font-weight: 600;
    font-size: 2rem;
    padding-top: 10px;
}



.banner-1 {
    position: relative; /* Make the container position relative */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; /* Place the pseudo-element above the image */
}

.banner-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images.tuan/Lacàph_Space_1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; /* Place the image below the pseudo-element */
}
.banner-1 p, .banner-1 h1 {
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
}
.banner-1 p{
    font-weight: 400;
    font-size: 1rem;
}
.banner-1 h1{
    font-weight: 600;
    font-size: 2rem;
    padding-top: 10px;
}

.banner-2 {
    position: relative; /* Make the container position relative */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; /* Place the pseudo-element above the image */
}

.banner-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images.tuan/LacafeBanner.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; /* Place the image below the pseudo-element */
}
.banner-2 p, .banner-2 h1 {
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
}
.banner-2 p{
    font-weight: 400;
    font-size: 1rem;
}
.banner-2 h1{
    font-weight: 600;
    font-size: 2rem;
    padding-top: 10px;
}

.banner-3 {
    position: relative; /* Make the container position relative */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; /* Place the pseudo-element above the image */
}

.banner-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/images.tuan/Lacàph_Bar_10.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; /* Place the image below the pseudo-element */
}
.banner-3 p, .banner-3 h1 {
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
}
.banner-3 p{
    font-weight: 400;
    font-size: 1rem;
}
.banner-3 h1{
    font-weight: 600;
    font-size: 2rem;
    padding-top: 10px;
}
.article-links{
    display: flex;
    flex-direction: column;
    margin: 30px 50px;
}
.carousel-item img{
    font-size: 15px;
}

.categorises{
    margin-top: 30px;
    display: grid;
    grid-template-rows:  [border-top-start] 30px [border-left-start] auto [border-bottom-start] 30px;
    grid-template-columns: [border-left] 30px [category-container] calc(100% - 30px*2) [border-right] 30px;
    grid-template-areas: 
        "top top top"
        "left category-container right"
        "bottom bottom bottom";
}
.border-top{
    background-image: url(../images/border-x.png);
    grid-area: top;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-left{
    background-image: url(../images/border-y.png);
    grid-area: left;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-right{
    background-image: url(../images/border-y.png);
    grid-area: right;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-bottom{
    background-image: url(../images/border-x.png);
    grid-area: bottom;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.category-container{
    background-color: transparent;
    grid-area: category-container;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 10%;
}

.category-container h2,
.card-body h3,
.text-center h1 {
    color: #4e358a;
}
/* button */
.outer {
    /* background-color: pink; */
    width: 50px;
    position: relative;
    display: inline-block;
    margin: 30px 1px;
}
.btn-tuan:hover{
    box-shadow: 0 0 35px 2px rgba(0,0,0,0.24);
    opacity: 1;
}
.inner {
    font-size: 13px;
    position: absolute;
    top: 30%;
    left: 10%;
    align-items: center;
    color: #fff;
    padding: 12px 14px 12px 12px;

}
.outer:hover{
    width: 52px;
}
  
.rotate {
      -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
  }



.card-body{
    padding: 30px 0 0 0;
}
.card-body h3{
    font-size: 1.5rem;
}
.btn-wrap{
    margin-top: 30px;
    width: 90px;
}
.btn-wrap a{
    color: #4e358a;   
    font-family: Josefin Sans,sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0;
}
.btn-wrap hr{
    width: 50%;
    height: 2px;
    background-color: #4e358a;
    margin-left: 0;
    transition: 0.4s ease;
}
.btn-wrap:hover > hr{
    width: 100%;
}
.card{
    margin: 0;
}
.container-tuan {
    position: relative;
}
.content {
    background-color: #0000006b;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 100%;
    width: 100%;
}
.img-tuan{
    width: 100%;
    height: 100%;
}
.img-tuan img{
    object-fit: cover;
}
.content h3{
    text-transform: uppercase;
    color: #fff;
}

.product{
    margin-top: 30px;
    display: grid;
    grid-template-rows:  [border-top-start] 30px [border-left-start] 550px [border-bottom-start] 30px;
    grid-template-columns: [border-left] 30px [product-swiper] 95% [border-right] 30px;
    grid-template-areas: 
        "top top top"
        "left product right"
        "bottom bottom bottom";
    }
.border-top{
    background-image: url(../images/border-x.png);
    grid-area: top;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-left{
    background-image: url(../images/border-y.png);
    grid-area: left;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-right{
    background-image: url(../images/border-y.png);
    grid-area: right;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-bottom{
    background-image: url(../images/border-x.png);
    grid-area: bottom;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.product-swiper{
    background-color: transparent;
    grid-area: product;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #4e358a;
}
.product-swiper h2{
    font-family: Josefin Sans,sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.75rem;
}
.swiper-container {
    position: relative;
    display: flex;
    width: 100%;
    overflow: hidden;
}
.swiper-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    margin-bottom: 10px;
}
.mod_redshop_product {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.mod_redshop_products_title {
    position: relative;
    margin-top: 15px;
    font-family: Josefin Sans,sans-serif;
    font-size: 1.5rem;
    color: #4e358a;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    line-height: 2.75rem;
}
.mod_redshop_products_image{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.mod_redshop_products_image img{
    width: 100%;
}
.mod_redshop_products_desc {
    margin-bottom: 10px;
}

.mod_redshop_products_price {
    font-weight: bold;
    font-size: 2rem;
}

.cart-button{
    padding-left: 20px;
}
.cart-button button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    background-color: transparent;
    background-image: url(../images/button.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.cart-button button:hover{
    background-image: url(../images/button-focus.png);
    color: #f4dcbb;
}
.contact-form{
    display: grid;
    grid-template-rows:  [border-top-start] 30px [border-left-start] auto [border-bottom-start] 30px;
    grid-template-columns: [border-left] 30px [form] calc(100% - 30px*2) [border-right] 30px;
    grid-template-areas: 
        "top top top"
        "left form right"
        "bottom bottom bottom";
}
.form{
    background-color: transparent;
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    color: #4e358a;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.input-field{
    padding: 10px 0;
    width: 100%;
}
.input-field input{
    background-color: transparent;
    border: none;
    border-bottom: #4e358a 2px solid;
    height: 30px;
    width: 100%;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #18212a;
    cursor: pointer;
}
.input-field input::placeholder,
.input-field textarea::placeholder {
    color: #4e358a;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
}
.input-field textarea{
    background-color: transparent;
    border: none;
    border-bottom: #4e358a 2px solid;
    height: 80px;
    width: 100%;
    resize: none;
    display: flex;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #18212a;
    cursor: pointer;
}
input:focus,
textarea:focus{
    outline: none;
}
.summit-button{
    margin-top: 30px;
}
.summit-button button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    background-color: transparent;
    background-image: url(../images/button.png);
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.summit-button button:hover{
    background-image: url(../images/button-focus.png);
    color: #f4dcbb;
}
.dongkhampha_cc{
    margin-top: 20px;
    align-items: center;
}
.dongkhampha_cc a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    color: #fff;
}
.dongkhampha_cc hr{
    width: 50%;
    height: 2px;
    background-color: #fff;
    transition: all 0.4s ease;
}
.dongkhampha_cc:hover > hr{
    width: 100%;
    background-color: #fff;
}
.container{
    max-width: 1170px;
    margin:auto;
}
/* .row{
    display: flex;
    flex-wrap: wrap;
} */
/* ul{
    list-style: none;
} */
@media screen and (max-width: 1000px) {
    .form{
        padding: 30px 5%;
    }
    .place{
        flex-direction: column;
        justify-content: center;
    }
    .space, .bar{
        width: 100%;
        padding: 20px 0;
    }
}



