*{
    margin: 0;
    box-sizing: border-box;
    background-color: #fffced;
    font-family: Josefin Sans,sans-serif;
}
.anhcauchuỵen img{
    width: 100%;
    height: 10cm;
    object-fit: cover;
    
}
.anhcauchuỵen h1{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 400;
    position: absolute;
    color: #fff;
    width: 100%;
    height: 10cm;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
}
/* ------- */
.phan2cc .noidung_phan2cc{
    margin: 0 120px;
    padding: 25px 15px;
    margin-top: 20px;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc{
    display: flex;
    flex-wrap: wrap;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc{
    width: 33%;
    padding: 0 15px;
    height: 638px;
    padding-bottom: 40px;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .anhnoidung2_phan2cc img{
    width: 100%;
    margin-bottom: 20px;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongdanvecc{
    margin-bottom: 8px;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongdanvecc a{
    text-decoration: none;
    font-size: 100%;
    color: #4e358a;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .noidungtruycap .tennd{
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2;
    font-size: 1.25rem;
    color: #4e358a;
    height: 75px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .noidungtruycap .tennd a{
    text-decoration: none;
    color: #4e358a;
    font-size: 90%;
    font-weight: 600;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .noidungtruycap{
    letter-spacing: 1px;
    font-size: 1em;
    height: 75px;
    line-height: 1.5;
     
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongchu_cc{
    margin-top: 8px;
    max-height: 75px;
    margin-bottom: 1rem;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongchu_cc p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongchu_cc h1{
    overflow: hidden;
    height: 80px;
    font-size: 350%;
    font-weight: 300;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
    word-spacing: 110px;
    
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongchu_quatet_cc{
    width: 100%;
    height: 75px;
    margin-bottom: 16px;
    font-size: 100%;
    line-height: 25px ;
    font-weight: 100;  
    line-height: 40px;

}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongchu_cc p{
    width: 100%;
    height: 75px;
    margin-bottom: 16px;
    font-size: 100%;
    line-height: 25px ;
    font-weight: 100;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongkhampha_cc a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: #4e358a;
    font-weight: 700;
    letter-spacing: 1px;
    padding-bottom: 15px;
}
.phan2cc .noidung_phan2cc .noidungtrong_phan2cc .noidung2_phan2cc .dongkhampha_cc a{
    border-bottom: 2px solid #4e358a;
}