* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
}
header{
    color: #4e358a;
    background-color: #fffced;
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}


