@font-face {
    font-family: 'Josefin Sans';
    src: url('./font/Josefin_Sans/JosefinSans-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'Open-Sans';
    src: url('./font/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: #fffced;
    font-family: Josefin Sans,sans-serif;
}
p {
    font-family: 'Open-Sans', sans-serif;
}
a{
    text-decoration: none;
    color: #4e358a;
}
.anhcauchuỵen {
    position: relative; 
    height: 10cm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.anhcauchuỵen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.52);
    z-index: 1; 
}

.anhcauchuỵen::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(images/cauc-muah/sanphamdattrung.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0; 
}
.anhcauchuỵen h1 { 
    margin: 0;
    color: #fff;
    font-family: Josefin Sans,sans-serif;
    z-index: 2;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 600;
}

.noidunggiua{
    margin: 20px 0;
}
.chuanoidung{
    padding: 0 60px;
}
.noidung1 h2{
    font-family: Josefin Sans,sans-serif;
    font-weight: 700;
    line-height: 50px;
    font-size: 1.25rem;
    color: #4e358a;
    height: 70px;
}
.noidung1 p{
    margin-bottom: 1rem;
    font-size: 100%;
    font-weight: 100;
    line-height: 25px;
}
.noidunggiua{
    margin-bottom: 30px;
}
.noidung2_tatca{
    display: flex;
    flex-wrap: wrap;
}
.noidung2_ndchinh{
    width: 30%;
    padding: 50px 1.5% 0 1.5%;
}

.nd2_hinhanh img{
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 4px 9px 6px  #44444423;
   
}
.nd2_dongdan1 {
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 2rem;
    color: #4e358a;
}
.nd2_dongchu{
    margin-top: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}
.summit-button{
    margin-top: 30px;
    justify-content: center;
    align-items: center;
}
.summit-button button{
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 50px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(78, 53, 138);
    background-color: transparent;
    background-image: url(./images/button.png);
    background-size: 99%;
    background-repeat: no-repeat;
    opacity: 1;
    display: inline-flex;
    padding: 3px 20px 0px 0px;
    background-position: 50% center;
    border-width: 0px;
    transition: opacity 0.2s ease 0s;
    cursor: pointer;
}
.summit-button button:hover{
    background-image: url(./images/button-focus.png);
    color: #fff;
}
.contact-form{
    margin-top: 50px;
    display: grid;
    grid-template-rows:  [border-top-start] 30px [border-left-start] 350px [border-bottom-start] 30px;
    grid-template-columns: [border-left] 30px [form] 95% [border-right] 30px;
    grid-template-areas: 
        "top top top"
        "left form right"
        "bottom bottom bottom";
    }
.border-top{
    background-image: url(./images/border-x.png);
    grid-area: top;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-left{
    background-image: url(./images/border-y.png);
    grid-area: left;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-right{
    background-image: url(./images/border-y.png);
    grid-area: right;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.border-bottom{
    background-image: url(./images/border-x.png);
    grid-area: bottom;
    background-position: center;
    border: 2px solid #f4dcbb;
}
.form{
    background-color: transparent;
    grid-area: form;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10%;
    color: #4e358a;
}
form{
    width: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
}
.input-field{
    padding: 10px 0;
    width: 100%;
}
.input-field input{
    background-color: transparent;
    border: none;
    border-bottom: #4e358a 2px solid;
    height: 30px;
    width: 100%;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #18212a;
    cursor: pointer;
}
.input-field input::placeholder,
.input-field textarea::placeholder {
    color: #4e358a;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
}
.input-field textarea{
    background-color: transparent;
    border: none;
    border-bottom: #4e358a 2px solid;
    height: 80px;
    width: 100%;
    resize: none;
    display: flex;
    font-family: Open-Sans;
    font-size: 1rem;
    font-weight: 400;
    color: #18212a;
}
input:focus,
textarea:focus{
    outline: none;
}
.form h2{
    font-size: 190%;
    font-weight: 700;
    padding-bottom: 15px;
}